#clear-box {
    height: 1000px;
    width: 100%;
    background-color: #808080;
    opacity: 0.6;
    clear:both;
}

#top-clear {
    height: 1000px;
    width: 100%;
    background-color: #808080;
    opacity: 0.6;
}


#top-text {
    height: 1000px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
    filter: brightness(0.50%);
}

#middle-left {
    height: 600px;
    width: 50%;
    float: left;
    background-color: #00ffff;
    opacity: 0.8;

}

#middle-right {
    height: 600px;
    width: 50%;
    float: right;
    background-color: #808080;
    text-align: center;
    color: #ffffff;
    font-family: Georgia;
    font-size: 2.25em;
}

#middle-right p {
    margin: 22% 10% 0% 10%;
}
#bottom {
    height: 1000px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
}

#footer {
    height: 75px;
    width: 100%;
    background-color: #00ffff;
    float: both;
}

#navbar h1{
  text-align: center;
}
#navbar h3 {
    text-align: center;
}

html {
    background: url("../pictures/wedding photo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    margin: 0px;
    padding: 0px;
}