#about {
    position: absolute;
    bottom: 18px;
    left: 20px;
}
p#about {
    list-style-type: none;
    font-family: Georgia, serif;
    font-size: 20px;
}

a#about {
    text-decoration: none;
}
#aboutMeText {
    position: absolute;
    font-family: Georgia, serif;
    text-align: center;
}

#aboutMeText p {
    font-size: 30px
}
#aboutMeBox {
    position: absolute;
    height: 55%;
    width: 45%;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 10px;
    top: 20%;
    left: 51%;
}
#bottom {
    height: 1000px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
    position: relative;
}
#bottomLeft {
    height: 800px;
    width: 50%;
    float: left;
    background-color: transparent;
}

#bottomRight {
    height: 800px;
    width: 50%;
    float: right;
    background-color: #b0c4de;
    text-align: center;
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: 2.25em;
}

#bottomRight p {
    margin: 0% 3% 0% 3%;
}

#clear-box {
    position:relative;
    height: 1000px;
    width: 100%;
    clear:both;
    background-color: transparent;
}
#contact {
    position: absolute;
    height: 35%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    top: 29%;
    left: 51%;
}

#contactIcon:hover {
    opacity: 0.6;
    -webkit-filter: opacity(.6);
}

#doterra1:hover .hovertext {
    visibility: visible;
}
#doterra1:hover .hoverbox {
    visibility: visible;
}

#educationPhotos {
    position:absolute;
    top: 12%;
    left: 15%;
    text-align: center;
}
#educationPhotos img{     max-height: 275px;
     max-width:275px;
     padding: 40px;
     margin: 40px;
 }
#educationIcon:hover {
    opacity: 0.6;
    -webkit-filter: opacity(.6);
}

#footer {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    clear: both;
    position: relative;
}

#footer ul li{
    list-style-type: none;
    display: inline;
}

#gilbert1:hover .hovertext {
    visibility: visible;
}
#gilbert1:hover .hoverbox {
    visibility: visible;
}
.header {
    position: absolute;
    top: 4%;
    left: 10.5%;

}

.header h1 {
    text-decoration: none;
    font-family:Georgia, serif;
    font-size: 40px;
}

.header img{
    height: 100px;
    width: 100px;
}

.header td {
    padding: 0px 10px 0px 10px;
}

#home {
    position: relative;
}

#homeIcon:hover {
    opacity: 0.6;
    -webkit-filter: opacity(.6);
}
.hoverbox {
    visibility: hidden;
    height: 290px;
    width: 290px;
    z-index: 1;
    background-color: rgba(255, 255, 255 .6);
}
.hovertext {
    visibility: hidden;
    z-index: 2;
    color: white;
    font-size: 25px;
    text-align: center;
}
html {
    background: url("../pictures/resized logan3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#imagesIcon:hover {
    opacity: 0.6;
    -webkit-filter: opacity(.6);
}

#middle {
    height: 1000px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
    position: relative;
}

#middleRight {
    height: 800px;
    width: 50%;
    float: right;
}

#middleLeft {
    height: 800px;
    width: 50%;
    float: left;
    background-color: #b0c4de;
    text-align: center;
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: 2.25em;
}

#middleLeft p {
    margin: 0% 3% 0% 3%;
}

#middle-right p {
    margin: 22% 10% 0% 10%;
}

#navbar {
    position: fixed;
    text-align: center;
    right: 3%;
    top: 2%;
    z-index: 1;
}

#navbar ul li {
    list-style-type: none;
    padding: 0px 5px 0px 5px;
    display: inline;
}

.navbartext {
    text-align: center;
    text-decoration: none;
    visibility: visible;
    margin-left: -40px;
    margin-bottom: -100px;
}

#photo-table img {
    height: 290px;
    width: 290px;
    margin-right: 3px;
    position: relative;
}

#photo-table {
    left: 11%;
    top: 16%;
    position: absolute;
    text-align: center;
}

#portfolio {
    height: 1100px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
    position: relative;
}
#profileIcon:hover {
    opacity: 0.6;
    -webkit-filter: opacity(.6);
}
#social-media{
    position: absolute;
    bottom: 0px;
    right: 5px;
}

#textForm {
    text-align: left;
    position: absolute;
    top: 10%;
    left: 10%;
}
.title {
    font-family: Book Antiqua, serif;
}
#top-clear {
    height: 1000px;
    width: 100%;
    background-color: rgba(128,128,128,0.4);
}

#top-left {
    height: 800px;
    width: 50%;
    float: left;
    background-color: transparent;
}

#top-right {
    height: 800px;
    width: 50%;
    float: right;
    background-color: #b0c4de;
    text-align: center;
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: 2.25em;
}
#top-right p {
    margin: 0% 3% 0% 3%;
}
#top-text {
    height: 1000px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
    position: relative;
}

#workIcon:hover {
    opacity: 0.6;
    -webkit-filter: opacity(.6);
}

#workPhotos {
    position: absolute;
    left: 7%;
    top: 10%;
    text-align: center;
}
#workPhotos img{
    max-height: 250px;
    max-width:250px;
    padding: 40px;
    margin: 40px;
}

* {
    margin: 0px;
    padding: 0px;
}