#navbar {
    position: fixed;
    text-align: right;
    right: 0%;
    top: 30%;
    z-index: 1;
}
#navbar ul li:first-child {
    border-top: 1px #000000 solid;
}
#navbar ul li {
    list-style-type: none;
    border-bottom: 1px #000000 solid;
    margin: 2% 0% 2% 0%;
}

#navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    font-family: Georgia, Serif;
}

#navbar ul a:hover {
    color: #ffffff;
}
#clear-box {
    position:relative;
    height: 1000px;
    width: 100%;
    clear:both;
    background-color: transparent;
}
#contact {
    position: absolute;
    height: 35%;
    width: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    bottom: 35%;
    right: 20%;
    opacity: 0.6;
    -webkit-filter: opacity(.6);
}
#textForm {
    text-align: left;
    position: absolute;
    bottom: 40%;
    right: 22%;
}
#top-clear {
    height: 1000px;
    width: 100%;
    background-color: #808080;
    opacity: 0.6;
    -webkit-filter: opacity(.6);
}
#aboutMePhotos img{
    max-height: 12em;
    max-width:12em;
    padding: 40px;
    margin: 40px;
}

#aboutMePhotos {
    position: absolute;
    left: 10%;
    text-align: center;
}

#top-text {
    height: 1000px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
    position: relative;
}

#top-left {
    height: 800px;
    width: 50%;
    float: left;
    background-color: transparent;
}

#top-right {
    height: 800px;
    width: 50%;
    float: right;
    background-color: #b0c4de;
    text-align: center;
    color: #ffffff;
    font-family: Georgia, Serif;
    font-size: 2.25em;
}

#middle-right p {
    margin: 22% 10% 0% 10%;
}
#portfolio {
    height: 1100px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
    position: relative;
}

#photo-table img {
    height: 20em;
    width: 20em;
    opacity: 0.3;
    margin-right: 3px;
}

#photo-table {
    left: 7.5%;
    position: absolute;
    text-align: center;
}
#photo-table img:hover{
    -webkit-filter: grayscale(0%) opacity(1.0);
    filter: grayscale(0%);
    opacity: 1.0;
}
#footer {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    clear: both;
    position: relative;
}
#social-media{
    position: absolute;
    bottom: 0px;
    right: 5px;
}
#footer ul li {
    list-style-type: none;
    display: inline;
}

#navbar h1{
  text-align: center;
}
#navbar h3 {
    text-align: center;
}

#middleRight {
    height: 800px;
    width: 50%;
    float: right;
    background-color: #b0c4de;
}

#middleRight {
    height: 800px;
    width: 50%;
    float: left;
    background-color: #b0c4de;
    text-align: center;
    color: #ffffff;
    font-family: Georgia, Serif;
    font-size: 2.25em;
}
#middle {
    height: 1000px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
}
#bottomLeft {
    height: 800px;
    width: 50%;
    float: left;
    background-color: transparent;
}

#bottomRight {
    height: 800px;
    width: 50%;
    float: right;
    background-color: #b0c4de;
    text-align: center;
    color: #ffffff;
    font-family: Georgia, Serif;
    font-size: 2.25em;
}
#bottom {
    height: 1000px;
    width: 100%;
    background-color: #faebd7;
    clear: both;
}

html {
    background: url("../pictures/resized logan3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    margin: 0px;
    padding: 0px;
}